version: '3.1'

services:
  backend:
    build: ./backend
    ports:
      - 4000:4000

  frontend:
    build: ./frontend
    ports:
      - 8080:5173

  db:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      # POSTGRES_DB: $DATABASE_NAME
    ports:
      - 5432:5432

  adminer:
    image: adminer
    ports:
      - 8000:8080
