version: "3.1"

services:
  backend:
    build: ./backend
    restart: always
    ports:
      - 4000:4000
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: $DATABASE_URL
      SECRET_KEY_BASE: $SECRET_KEY_BASE
      DATABASE_HOSTNAME: $DATABASE_HOSTNAME

  frontend:
    build: ./frontend
    restart: always
    ports:
      - 5173:5173

  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGUSER: postgres
    ports:
      - 5432:5432
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-U", "postgres"]
      interval: 5s
      timeout: 10s
      retries: 10

  adminer:
    image: adminer
    ports:
      - 8000:8080
